.like-container{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed',sans-serif;
}
.fas,.far,.fa{
	font-family: "fontawesome";
}
.like-container{
	display: flex;
	align-items: center;
	justify-content: right;
}
.like-container button{
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	padding: 6px 14px;
	color: #323639;
	cursor: pointer;
	margin: 0 15px;
	border-radius: 5px;
	font-size: 17px;
}
.like-container button:hover{
	background: #999494;
}
button#like.heart,button#dislike.brokeheart{
	background: #0d1317;
	color: #fff;
}
button#like.heart .fa-thumbs-up{
	animation: upThumb 0.6s linear;
}
@keyframes upThumb {
	20%{
		transform: rotate(8deg);
	}
	50%{
		transform: scale(1.2) rotate(-24deg);
	}
	80%{
		transform: rotate(16deg);
	}
}
/* DISLIKE BUTTON */
button#dislike.brokeheart .fa-thumbs-down{
	animation: downThumb 0.6s linear;
}
@keyframes downThumb {
	20%{
		transform: rotate(8deg);
	}
	50%{
		transform: scale(1.2) rotate(-24deg);
	}
	80%{
		transform: rotate(16deg);
	}
}
.heartAnim{
	position: relative;
}
.heartAnim span{
	position: absolute;
	left: 30px;
	bottom: -5px;
	opacity: 0;
}
.heartAnim.spreadHeart span{
	color: red;
	transition: transform 0.5s linear;
	animation: heartOpa 0.5s linear;
}
@keyframes heartOpa{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	80%{
		opacity: 0.9;
	}
	100%{
		opacity: 0;
	}
}
.heartAnim.spreadHeart span:nth-child(1){
	transform: translate(-3px,-16px);
	font-size: 14px;
}
.heartAnim.spreadHeart span:nth-child(2){
	transform: translate(1px,-31px);
	font-size: 14px;
}
.heartAnim.spreadHeart span:nth-child(3){
	transform: translate(-11px,-30px);
	font-size: 12px;
}
.heartAnim.spreadHeart span:nth-child(4){
	transform: translate(-5px,-46px);
	font-size: 14px;
}
.heartAnim.spreadHeart span:nth-child(5){
	transform: translate(-22px,-47px);
	font-size: 16px;
}
