{% extends 'videos/base.html' %}

{% block content %}
<body class="body_about">
<div class="container">
    <div class="row justify-content-center">
        <div class="container_about col-md-5 mt-5 p-3">
            <h1 class="about">About site</h1>
            <div class="card-body">
                <h5 style="color: #000000">«My Cover Song» («Моя кавер-версія пісні») — український сайт-відеохостинг,
                    який дозволяє своїм користувачам публікувати аранжування, «переспів» всесвітньовідомих хітів — «кавери»
                    ставити лайки під відео, коментувати відео,
                    ділиться відео у viber telegram facebook
                </h5>
            </div>
            <div class="row justify-content-center"><img class="logo_about" src=" /media/uploads/profile_pics/logNavbar.png "></div>
        </div>
    </div>
</div>
</body>
{% endblock content %}