{% extends 'videos/base.html' %}

{% block content %}
<body class="user_videos">
<div class="container">
    <div class="row">
        <div class="category col-md-12 my-3 text-center">
            <h2 style="font-family: Garamond, sans-serif; font-size: 3.4em; border-bottom: 2px solid;"><img src="/media/uploads/profile_pics/logoMyVideos.png" height="55" width="120">My videos</h2>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            {% for video in user_videos %}
            <div class="card col-md-3 col-sm-12 mr-md-2 mt-5 p-3 border-0">
                <a href="{% url 'video-detail' video.pk %}"><img src="/media/{{ video.thumbnail }}" width=100% height=avto></a>
                <div class="card-body">
                    <a class="link-text" href="{% url 'video-detail' video.pk %}"><h5 class="text-center">{{ video.title }}</h5></a>
                    <p class="text-muted text-center m-0">{{ video.uploader }}</p>
                    <p class="text-muted text-center">{{ video.date_posted | date:"M d, Y" }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
{% endblock content %}